<p>Hi there!</p>

<p>This is a quick report of all the puppetlabs repositories using the  CloudCI
release workflow. We use it to keep track of our userbase, in part so that
we can update and audit the list of repositories with access to the org-wide
FORGE_API_KEY GitHub secret.</p>

<h3>Repositories with a release workflow:</h3>
<ul>
<% cloudci_users.each do |repo| -%>
  <li><a href="<%= repo[:html_url] %>"><%= repo[:full_name] %></a>
    <ul>
      <li><%= repo[:description] %></li>
    </ul>
  </li>
<% end %>
</ul>

<hr />
<p>
  -- The Community Team<br />
  If you've got feedback on this content, please let us know at <a href="mailto:community@puppet.com">community@puppet.com</a>.
</p>
